<h1>
  <%= t("edit", obj: User.model_name.human) %>
</h1>

<%= render 'form' %>
<br>
<div class="btn-group" role="group">
  <a href="<%= '/users/index' %>" class="btn btn-primary">
    <%= t("back") %>
  </a>
</div>
