<h1>Editando Autor</h1>

<%= render 'form' %>
<br>
<div class="btn-group" role="group">
  <a href="/authors/<%= @author.id %>" class="btn btn-primary">Mostrar</a>
  <a href="<%= authors_path %>" class="btn btn-primary">Atrás</a>
</div>
